################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AKG/FileContentIndex/12599244-25fa-4083-b677-7594c93054ac.vsidx
/.vs/AKG/FileContentIndex/2a090422-af24-4a0f-bb5b-dc0292a81117.vsidx
/.vs/AKG/FileContentIndex/2ec763f7-81e2-4565-8b64-877df3f0e0b1.vsidx
/.vs/AKG/FileContentIndex/5fe637b3-86bf-450c-bd94-b7f7eb306bd5.vsidx
/.vs/AKG/FileContentIndex/8a7223a4-fee2-413c-82d6-48392c384444.vsidx
/.vs/AKG/FileContentIndex/8ee831c3-7ba5-414c-9ae0-4dd8a1b31a37.vsidx
/.vs/AKG/FileContentIndex/a98332e0-f4f0-4262-ae8a-9370ea84d1c3.vsidx
/.vs/AKG/FileContentIndex/b845de06-2914-47dc-8761-c2ada21616cb.vsidx
/.vs/AKG/FileContentIndex/c7160ff0-779f-4fe8-9501-de1a54fc8c50.vsidx
/.vs/AKG/FileContentIndex/eefc7e29-d99c-47e9-8cc0-6e0af7c47f72.vsidx
